{% extends 'base.html' %}

{% block head_title %}Contact || {{ super() }}{% endblock head_title %}

{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 float-right">
            <h4>
                Silvani Services <br> Lindenstrasse 7 <br> 8134 Adliswil <br> Zürich <br>
            </h4>
            <p> Mobile: +41 78 78 42 404 </p> <p> <a id="email-link" href="mailto:adrian.silvani@gmail.com">adrian.silvani@gmail.com</a> </p> <br> <p> Handelsregister-Nummer CH-320.1.083.070-0 </p><p>UID CHE-258.328.281 </p>
        </div>
        <div class="col-md-8">


            <h4>About Us</h4>
            <p>Silvani Services is a sole proprietorship. The goal is to develop answers to questions of the digital society and provide lean solutions for language processing. The challenge is to combine traditional concepts with new approaches and structures. In this nexus Silvani Services offers simple and pragmatic deliverables.</p>
                <hr class="featurette-divider">
            <h4>Disclaimer</h4>
            <p>The author assumes no liability whatsoever with regard to the correctness, accuracy, timeliness, reliability and completeness of the information. Liability claims against the author for material or immaterial damage arising from access or use of the published information, misuse of the connection or technical malfunctions are excluded. All offers are non-binding. The author expressly reserves the right to change, supplement or delete parts of the pages or the entire offer without separate notice or to temporarily or permanently stop publication.</p>
            <h4>Liability for Links</h4>
            <p>References and links to third-party websites are outside the responsibility of the operator of this website. Any responsibility for third-party websites is declined. Access and use of third-party websites is at the user’s own risk.</p>
            <h4>Data Protection</h4>
            <p>Based on Article 13 of the Swiss Federal Constitution and the federal data protection regulations (Data Protection Act, DSG) every person is entitled to protection of their privacy and protection against misuse of their personal data. I comply with these regulations. Personal data is treated as strictly confidential and is neither sold nor passed on to third parties. In cooperation with my hosting provider, I strive to protect the databases as best as possible against unauthorised access, loss, misuse or forgery. When you access these websites, the following data is stored in log files: IP address, date, time, browser request and general information transmitted about the operating system or Browser. This usage data forms the basis for statistical, anonymous evaluations so that trends can be identified, which I can use to improve my offering accordingly.</p>

        </div>

    </div>

</div>
<br>

{% endblock content %}